<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Suibian.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD8F58FC1C42D258005BC29B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8F59121C42D259005BC29B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8F591D1C42D259005BC29B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
